{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Welcome!</title>
    <link rel="icon" type="image/png" href="{% static 'caterpillar.png' %}">
  </head>
<body>

{% block content %}
    <div class="create issue">
        {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <h1>Create Project - BugTraCCer</h1>
        <form action="createproject/">
            <input type="submit" value="Create a project" />
        </form>
    </div>

    <label for="projects">Choose a project:</label>
    <select name="projects" id="projects" onchange="location = this.value;">
        {% for project in projects %}
        <option value= "{% url 'project' project.id %}">{{ project.name }}</option>
        {% endfor %}
        <option value="" selected disabled hidden>Select project</option>
    </select>
{% endblock %}
</body>
</html>
