<!DOCTYPE html>
{% load static %}
<link
rel="stylesheet"
type="text/css"
href="{% static 'core/css/bootstrap.css' %}"
/>
<html>
    <head>
        <title>Welcome!</title>
        <link rel="stylesheet" type="text/css" href="/core/static/style.css">
        <link rel="icon" type="image/png" href="{% static 'caterpillar.png' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>

        <div class="sidebar">
          <a class="active" href="#home">Dashboard Home</a>
          <a href="#">Manage Role Assignment</a>
          <a href="{% url 'projects' %}">My Projects</a>
          <a href="{% url 'myissues' %}">My Issues</a>
          <a href="#">User Profile</a>
        </div>


        <div class="navbar-c">
            <a href="{% url 'logout' %}">logout</a>
            <a href="#">User</a>
            </div>
        </div>
        
        <div class="content">
          <h2>Responsive Sidebar Example</h2>
          <p>This example use media queries to transform the sidebar to a top navigation bar when the screen size is 700px or less.</p>
          <p>We have also added a media query for screens that are 400px or less, which will vertically stack and center the navigation links.</p>
          <h3>Resize the browser window to see the effect.</h3>
        </div>
        
    </body>
</html>