<!DOCTYPE html>
{% load static %}
<link
rel="stylesheet"
type="text/css"
href="{% static 'core/css/bootstrap.css' %}"
/>
<html>
    <head>
        <title>Welcome!</title>
        <link rel="stylesheet" type="text/css" href="/core/static/style.css">
        <link rel="icon" type="image/png" href="{% static 'caterpillar.png' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>

        <div class="sidebar">
          <a class="active" href="{% url 'base' %}">Dashboard Home</a>
          <a href="{% url 'projects' %}">My Projects</a>
          <a href="{% url 'myissues' %}">My Issues</a>
        </div>


        <div class="navbar-c">
            <a href="{% url 'logout' %}">Logout</a>
            </div>
        </div>
        
        <div class="content">
          TODO 
        </div>
        
    </body>
</html>