{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Project {{ project.id }}</title>
    <link rel="icon" type="image/png" href="{% static 'caterpillar.png' %}">
  </head>
<body>

    {% for bug, creator in creators %}
    <li><a href="{% url 'issue' bug.id %}">{{bug}}</a>, {{creator}}</li>
    {% endfor %}
    

    <form action="/createissue/">
        <input type="submit" value="Create Issue">
    </form>

    <form method='get' action='#'>
        <input type="submit" value="created by me" name="created by me"/>
    </form>

    <form method='get' action='#'>
        <input type="submit" value="unresolved" name="unresolved"/>
    </form>

    <form method='get' action='#'>
        <input type="submit" value="resolved" name="resolved"/>
    </form>

</body>
</html>

