<!DOCTYPE html>
{% load static %}
<link
rel="stylesheet"
type="text/css"
href="{% static 'core/css/bootstrap.css' %}"
/> 
<html>
  <head>
    <title>Project</title>
    <link rel="stylesheet" type="text/css" href="/core/static/style.css">
    <link rel="icon" type="image/png" href="{% static 'caterpillar.png' %}">
  </head>


<body>

    <div class="sidebar">
        <a class="active" href="#home">Dashboard Home</a>
        <a href="#">Manage Role Assignment</a>
        <a href="{% url 'projects' %}">My Projects</a>
        <a href="#">My Tickets</a>
        <a href="#">User Profile</a>
    </div>

    
    <div class="navbar-c">
        <form action="/createissue/">
        <input type="submit" value="Create Issue" class="text-primary">
        </form>
        
        <div class="dropdown-c">
            <button class="dropbtn">Dropdown
            <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <form method='get' action='#'>
                <input type="submit" value="created by me" name="created by me" class="text-primary"/>
                </form>
                
                <form method='get' action='#'>
                <input type="submit" value="unresolved" name="unresolved" class="text-primary"/>
                </form>
                
                <form method='get' action='#'>
                <input type="submit" value="resolved" name="resolved" class="text-primary"/>
                </form>  
            </div>
        </div>
    </div> 


    <div class="content">
        <h5 class="sub-header" style="text-align:center">Project Details</h2>

        <table class="table">
            <tr>
                <th>Project Name</th>
                <th>Project Description</th>
            </tr>
            <tr>
                <td>{{ project.name }}</td>
                <td>{{ project.description }}</td>
            </tr>
        </table>


        <div class="row">
            <div class="col-md-6">
                <h5 class="sub-header">Issues</h2>
                <div class="table-responsive">

                    <table class="table">
                        <tr>
                            <th>description</th>
                            <th>assignee</th>
                            <th>creator</th>
                            <th>resolved</th>
                            <th>created</th>
                            <th>due</th>
                        </tr>
                        {% for bug, assignees, creator, resolved, created, due in information %}
                        <tr>
                            <td><a href="{% url 'issue' bug.id %}">{{bug}}</a></td>
                            <td>{{ assignees }}</td>
                            <td>{{ creator }}</td>
                            <td>{{ resolved }}</td>
                            <td>{{ created }}</td>
                            <td>{{ due }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>

            <div class="col-md-6">
                <h5 class="sub-header">Workers on this project</h2>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <tr>
                            <th>Name</th>
                            <th>Role</th>
                        </tr>
                        {% for worker in workers %}
                        <tr>
                            <td>{{ worker }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
    

</body>
</html>

