<!DOCTYPE html>
{% load static %}
<link
rel="stylesheet"
type="text/css"
href="{% static 'core/css/bootstrap.css' %}"
/>
<html>

<head>
    <title>Welcome!</title>
    <link rel="stylesheet" type="text/css" href="/core/static/style.css">
    <link rel="icon" type="image/png" href="{% static 'caterpillar.png' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>


<body>

    <div class="sidebar">
        <a href="{% url 'base' %}">Dashboard Home</a>
        <a class="active" href="{% url 'projects' %}">My Projects</a>
        <a href="{% url 'myissues' %}">My Issues</a>
    </div>

    <div class="navbar-c">
        <a href="{% url 'logout' %}">Logout</a>
        <a href="{% url 'createProject' %}">Create Project</a>
    </div>
      
    <div class="content">
        <h5 class="h" style="text-align:center">My Projects</h5>
        <table class="table table-striped" >
            <tr>
                <th>Project Name</th>
                <th>Description</th>
            </tr>
            {% for project in projects %}
            <tr>
                <td><a href="{% url 'project' project.id %}">{{project.name}}</a></td>
                <td>{{ project.description }}</td>
            </tr>
            {% endfor %}
        </table>

    </div>
</body>


</html>