<!DOCTYPE html>
{% load static %}
<link
rel="stylesheet"
type="text/css"
href="{% static 'core/css/bootstrap.css' %}"
/> 
<html>
  <head>
    <title>Project</title>
    <link rel="stylesheet" type="text/css" href="/core/static/style.css">
    <link rel="icon" type="image/png" href="{% static 'caterpillar.png' %}">
  </head>


<body>

    <div class="sidebar">
        <a href="{% url 'base' %}">Dashboard Home</a>
        <a href="{% url 'projects' %}">My Projects</a>
        <a href="{% url 'myissues' %}">My Issues</a>
    </div>

    
    <div class="navbar-c">
        <a href="{% url 'logout' %}">Logout</a>

        <form action="/createissue/">
        <input type="submit" value="Create Issue" class="createissue">
        </form> 
        
        <div class="dropdown-c">
            <button class="dropbtn">Filter Issues
            <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <form method='get' action='#'>
                <input type="submit" value="created by me" name="created by me" class="text-primary dropdown-d"/>
                </form>
                
                <form method='get' action='#'>
                <input type="submit" value="unresolved" name="unresolved" class="text-primary dropdown-d"/>
                </form>
                
                <form method='get' action='#'>
                <input type="submit" value="resolved" name="resolved" class="text-primary dropdown-d"/>
                </form>  
            </div>
        </div>

    </div> 


    <div class="content">
        <h5 class="h" style="text-align:center">Project Details</h5>

        <table class="table">
            <tr>
                <th>Project Name</th>
                <th>Project Description</th>
            </tr>
            <tr>
                <td>{{ project.name }}</td>
                <td>{{ project.description }}</td>
            </tr>
        </table>


        <div class="row">
            <div class="col-md-6">
                <h5 class="h">Issues</h5>
                <div class="table-responsive">

                    <table class="table table-striped">
                        <tr>
                            <th>Bug Description</th>
                            <th>Assignee(s)</th>
                            <th>Creator</th>
                            <th>Resolved</th>
                            <th>Created</th>
                            <th>Due</th>
                        </tr>
                        {% for bug, assignees, creator, resolved, created, due in information %}
                        <tr>
                            <td><a href="{% url 'issue' bug.id %}">{{bug}}</a></td>
                            <td>{{ assignees }}</td>
                            <td>{{ creator }}</td>
                            <td>{{ resolved }}</td>
                            <td>{{ created }}</td>
                            <td>{{ due }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>

            <div class="col-md-6">
                <h5 class="h">Workers on this project</h5>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <tr>
                            <th>Name</th>
                        </tr>
                        {% for worker in workers %}
                        <tr>
                            <td>{{ worker }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                
                {% if form.default_msg != "default" %}
                <div class="outline">
                    <form method="post">
                        {% csrf_token %}
                        <table>
                            {{ form.as_table}}
                            <tr>
                                <td></td>
                                <td><input type="submit" name="Update" value="Update" id="id1" class="spacing"/></td>
                            </tr>
                        </table>
                    </form>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    

</body>
</html>

